:root {
  --white: #f0f0f0;
  --darkcyan: #039e9e;
  --darkgray: #313155;
  --baemin-blue: #49b8dd;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  color: var(--white);
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: var(--white);
}
/* navigation bar */
.header {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--darkcyan);
  width: 100%;
}

.header-item {
  padding: 20px;
  color: var(--white);
  transition: all 0.5s ease;
}

.header-item:hover {
  color: var(--darkcyan);
  background-color: var(--white);
}

/* introduction */
.introduction {
  background-color: var(--darkgray);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cv-link {
  background-color: #f1356d;
  border: 0;
  padding: 8px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.cv-link:hover {
  background-color: var(--white);
  color: #f1356d;
}

/* work */
.work {
  background-color: var(--baemin-blue);
  height: 100vh;
  text-align: center;
}

.my-projects-text {
  padding: 8rem 2rem;
  margin: auto;
}

.projects-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.project {
  width: 450px;
  height: 450px;
  margin: 8px;
  background-color: #303841;
  display: relative;
  transition: 0.3s;
  border-radius: 8px;
}

.project-image {
  width: 100%;
  height: 90%;
  border-radius: 8px 8px 0 0;
}

.project:hover {
  background-color: var(--white);
  color: #303841;
  border: 4px solid white;
}

/* contact */
.contact {
  padding: 8rem 2rem;
  height: 70vh;
  background-color: #303841;
}

.fas {
  transition: all 0.3s ease;
}

.mail {
  display: inline-block;
}
